.adventures-page {
  height: 90%;

  background-image: url('../icons/world_map.png');
  background-repeat: no-repeat;
  background-size: cover;

  .header-section {
    @include media-below($tablet-portrait-max) {
      max-width: 425px;
    }

    width: 850px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .title {
      font-size: 80px;
      font-family: "Pacifico";

      .floating-heads {
        display: inline-block;
        position: relative;
        top: 22px;
        height: 130px;
        width: 250px;
        background-image: url('../icons/floating_heads_light.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .adventure-icons-section {
    margin-top: 50px;

    .icon {
      margin-bottom: 20px;

      .icon-image {
        height: 300px;
        width: 350px;

        position: relative;
        left: 50%;
        transform: translateX(-50%);

        background-repeat: no-repeat;
        background-size: contain;

        &:hover {
          height: 320px;
          width: 370px;
          cursor: pointer;
        }

        &.japan {
          background-image: url('../icons/adventure_icon_japan.png');
        }

        &.taiwan {
          background-image: url('../icons/adventure_icon_taiwan.png');
        }

        &.hawaii {
          background-image: url('../icons/adventure_icon_hawaii.png');
        }
      }

      .icon-title {
        font-family: "Life Savers";
        font-size: 28px;
        font-weight: 600;
        text-align: center;
      }

      .icon-subtitle {
        margin-top: 8px;
        font-size: 18px;
        font-family: "Arvo";
        text-align: center;
        color: rgba(85, 85, 85, 0.87);
      }
    }
  }
}