.home-page {
	height: 100%;
	background: url('../icons/gold_dots_background.png') no-repeat;
	background-size: cover;

	.bride-and-groom {
		padding: 0;
		right: 40px;
		height: 600px;
		background: url('../icons/bride_and_groom_no_outline.png') no-repeat center;
		background-size: contain;
	}

	.home-content {
		padding: 0;

		h1 {
		    text-align: center;
    		padding: 15px;
			position: relative;
			top: 25px;
			right: 80px;
			font-size: 70px;
			font-family: "Life Savers";
			background-color: white;
			border: 8px solid lightblue;
		}
	}
}