.japan-page {
	height: 100%;
	//background: url(../icons/red-wallpaper.png);
	background: #fb3636;
	//background-size: contain;

	#japan-banner {
		height: 130px;	
		background: url(../icons/japan_landscape.png) no-repeat;
		background-size: cover;
	}

	//.totoro {
	//	position: relative;
	//	top: 35px;
	//	left: 55px;
	//	height: 300px;
	//	width: 300px;
	//	background: url(../icons/totoro_1.png) no-repeat;
	//	background-size: contain;
	//	transform: rotate(0.005turn);
	//}
}

