.current-location {
	height: 300px;

	.current-location-body {
		height: 90%;
		background-color: white;
		box-shadow: 5px 5px 15px #232322;

		.map-frame {
			height: 100%;
			background-color: #303133;
			padding: 12px;

			#map {
				height: 100%;
				width: 100%;
				background: url(../icons/tokyo-map.png) no-repeat;
				background-size: cover;
			}
		}

		.details {
			height: 100%;

			p {
				margin-top: 15px;
				font-size: 12px;
				font-family: monospace;
			}

			.location {
				font-size: 24px;
				font-weight: bold;
				font-style: italic;

				&.jp::after {
    			content: ' ';
			    position: relative;
			    top: 8px;
			    left: 20px;
          width: 20px;
          height: 22px;
          padding-top: 5px;
          display: inline-block;
          background: url(../icons/flag_jp.png) no-repeat;
        }
			}
		}
	}
}