#site-header {
	height: 35px;
	background-color: gray;

	.site-title {
		font-weight: bold;
 		font-size: 15px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		letter-spacing: 2px;
		line-height: 1.42857143;
		padding: 5px 0 0 15px;
	}

	.header-links {
		float: right;

		.header-dropdown-menu {
			.dropdown {
				.btn-default {
					background-color: transparent;
					border: none;
					color: white;
					padding: 6px;
				}

				.btn {
					float: none;
				}
			}
		}
	}
}